{% extends "layout.html" %}
{% block content %}

<h1>Gatherings</h1>

{% if session.get('user_role') in ['admin', 'leader'] %}
  <a href="{{ url_for('gatherings.create_gathering') }}" class="button">
    + New Gathering
  </a>
{% endif %}

<hr>

<ul>
{% for g in gatherings %}
  <li>
    <h3>
      <a href="{{ url_for('gatherings.gathering_detail', gathering_id=g.id) }}">
        {{ g.title }}
      </a>
    </h3>

    <p>{{ g.description }}</p>

    <small>
      Date: {{ g.date }} | Time: {{ g.time }}
    </small>

    {% if user_role == 'admin' or g.created_by == user_id %}

        <div class="action-buttons">

        <!-- EDIT -->
        <a href="{{ url_for('gatherings.edit_gathering', gathering_id=g.id) }}"
        class="btn btn-sm btn-primary">
            Edit
        </a>

        <!-- DELETE -->
        <form id="delete-gathering-{{ g.id }}"
            method="POST"
            action="{{ url_for('gatherings.delete_gathering_route', gathering_id=g.id) }}">

            <button type="button"
                    class="btn btn-sm btn-danger"
                    data-confirm="Delete this gathering?"
                    data-form="delete-gathering-{{ g.id }}">
                Delete
            </button>

        </form>

    </div>

    {% endif %}
  </li>
{% else %}
  <li>No gatherings yet.</li>
{% endfor %}
</ul>



{% endblock %}