{% extends "layout.html" %}
{% block content %}

<h2>Create Gathering</h2>

<form method="POST">

    <input type="text" name="title" placeholder="Title" required>

    <textarea name="description" placeholder="Description" required></textarea>

    <input type="date" name="date" required>

    <input type="time" name="time" required>

    <select name="group_id">
        {% if session.get("user_role") == "admin" %}
            <option value="">Global</option>
        {% endif %}

        {% for g in user_groups %}
            <option value="{{ g[0] }}">{{ g[1] }}</option>
        {% endfor %}
    </select>

    <button type="submit">Create</button>

</form>

{% endblock %}